name: Release

on:
    release:
        types: [published]

permissions:
    contents: write

jobs:
    tag:
        name: New release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build
              run: |
                  # Create build directory
                  mkdir -p build/recompal
                  
                  # Copy plugin files
                  rsync -av --exclude='.git' --exclude='.github' --exclude='.gitignore' --exclude='README.md' --exclude='CHANGELOG.md' --exclude='.wordpress-org' --exclude='build' ./ build/recompal/
                  
                  # Create zip file
                  cd build
                  zip -r ../recompal.zip recompal/

            - name: Upload release asset
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ github.event.release.upload_url }}
                  asset_path: ./recompal.zip
                  asset_name: recompal.zip
                  asset_content_type: application/zip
